<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280879038347-996a0j758rs140kkkdg2fkk5827jp68i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280879038347-996a0j758rs140kkkdg2fkk5827jp68i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280879038347-bivg671g0dt41ddf8cg6n9keavk32c28.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbg4FU-u0NS3nDxR2uTdTmx79if40ZABc</string>
	<key>GCM_SENDER_ID</key>
	<string>280879038347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resalate.app</string>
	<key>PROJECT_ID</key>
	<string>resalate-a3ad0</string>
	<key>STORAGE_BUCKET</key>
	<string>resalate-a3ad0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280879038347:ios:02a6ced19803d55390f98e</string>
</dict>
</plist>